@charset "utf-8";
/* CSS Document */
body{
	background-color: black;
	display: flex;
	flex-direction:column;
	justify-content:flex-start;
} /* habría que ver alguna propiedad más de flexbox para que no quede todo el body marginado a la izquierda y empiece a aprovecar más el espacio en blanco */
h1,h2,h3,p,section, .etc{
	font-family: "Baloo 2", Yondu, Metropolis; /* falta el @font-face para que se cargue correctamente la tipo */
	color: white;
}
nav{
	background-color: darkturquoise;
	width: 1200px;
	height: 50px;
	display: flex;
	justify-content: space-around;
	align-content: center;
}
nav ul{
	list-style: none;
	width: 500px; /* los anchos fijos traen problemas cuando pasemos a mobile, en este caso capaz es mejor una mezcla entre usar porcentajes y max-width */
	display:flex;
	justify-content: space-around;
	align-items: center;
}
nav li{
	color: white;
}
.botonera a{
	flex-direction: column;
	justify-content:center;
	text-decoration: none;
	background-color:grey;
	width: 1200px;
	height: 85px;
	padding: 10px 20px;
	border: 2px solid black;
}
.botonera a:hover{
	color: #1F936B;
	background-color:black;
}
.redes-sociales{
	width: 200px;
	display: flex;
	justify-content: space-around;
	lign-items: center;
}
