@charset "utf-8";
/* CSS Document */
#titulo-principal{
	font-family: "Baloo 2", Yondu, Metropolis;
	font-size: 45px;
	color: #1E93A2;
	display: flex;
	flex-direction: column;
}
h2{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 20px;
	color: #10F2D8;
	align-content:center; 
}
h3{
	font-family: "Baloo 2", Yondu, Metropolis;
	font-size: 20px;
}
p{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
